<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon class="mat-18" (click)="this.sideNav.open()" *ngIf="!sideNav.opened">menu</mat-icon>
    <mat-icon class="mat-18" (click)="this.sideNav.close()" *ngIf="sideNav.opened">close</mat-icon>
  </button>
  <span>My Application</span>
</mat-toolbar>


<mat-sidenav-container style="background-color: black; height:500px; width: 500px">
  <mat-sidenav #sideNav="matSidenav"
    style="background-color: gray; height:100px;width: 200px; padding-left: 10px;margin-top: 10px;">

    <img src="" class=" avatar mat-elevation-z8" alt="Logo">
    <h4>Let's Program</h4>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>Event Note</mat-icon>
      <span>ABC News</span>
    </button>
  </mat-sidenav>


  <mat-sidenav-content class="content mat-elevation-z4">
    <h4>Helllow</h4>
  </mat-sidenav-content>
</mat-sidenav-container>
